@media (min-width:800px) {
   .project:hover {
      border-color: var(--primary);
      box-shadow: var(--shadow-hover);
   }

   .button-project a:hover {
      color: var(--hover-100);
      border-color: var(--primary);
      background-color: var(--hover-900);
      transform: translateY(-2px);
      box-shadow: var(--shadow-hover);
   }
   .cant-btn a:hover {
      color: var(--cant);
      border-color: var(--cant);
      background-color: var(--cant-back);
      text-decoration: line-through;
      cursor: not-allowed;
   }

   .reverse {
      gap: 60px;
   }

   .reverse .project-about {
      order: 2; 
   }
   
   .reverse .project-img {
      order: 1;
      margin-left: 5px; 
   }
}


#Projects {
   display: flex;
   align-items: center;
   flex-direction: column;
}

#Projects .Title {
   margin: 0 0 -20px -30px;
}

.project {
   user-select: none;
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 970px;
   padding: 30px;
   margin: 35px 0;
   border-radius: 18px;
   border: 1px solid var(--project-border);
   background: var(--project);
   box-shadow: var(--shadow);
   transition: 0.2s;
}

.project-end {
   top: 0;
   right: 0;
   width: 20px;
}

.project-img {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 490px;
}

.project-img img {
   width: 500px;
   cursor: pointer;
}

.project-about {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 400px;
   margin: 0;
}

.project-mark {
   position: absolute;
   top: -20px;
   right: -42px;
}

.project-mark img{
   width: 50px;
}

.project-mark-duble {
   position: absolute;
   top: -20px;
   right: -44px;
}

.project-mark-duble img{
   width: 50px;
   margin-left: -10px;
}

.project h2 {
   font-family: 'Poppins';
   font-size: 30px;
   font-weight: 500;
   margin: 0px;
   text-align: start;
   margin-left: 5px;
}

.project p {
   font-size: 15px;
   font-weight: 400;
   text-align: start;
   margin: 0 0 0 7px; /*top left bottom right*/
}

.stack-icons {
   display: flex;
   align-items: center;
   justify-content: center;
}

.stack-icons img{
   width: 35px;
   margin: 20px 5px;
   border-radius: 0;
}

.button-project-section {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 0;
   gap: 15px;
}

.button-project {
   display: flex;
   justify-content: center;
   padding: 5px 0;
}

.button-project a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 135px;
   height: 38px;
   gap: 2px;
   text-align: center;
   font-size: 13px;
   font-weight: 500;
   text-decoration: none;
   border-radius: 20px;
   border: 1px solid var(--button);
   background-color: var(--button-back);
   color: var(--button);
   /* box-shadow: var(--shadow); */
   transition: 0.2s;
}

.button-project p {
   font-size: 14px;
   font-weight: 500;
   margin-bottom: -1.2px;
}

.deploy-btn svg {
   width: 20px;
   height: 20px;
}

.github-btn svg {
   width: 18px;
   height: 18px;
}

.cant-btn {
   color: var(--button);
   text-decoration: line-through;
}

@media (max-width:800px) {

   #Projects .Title {
      margin: 0 0 -10px 0;
   }

   .project {
      grid-template-columns: 1fr;
      width: 83%;
      padding: 23px 30px 30px 30px;
      gap: 10px;
      border-radius: 12px;
      border-color: var(--project-border-M);
      background: var(--project-M);
   }
   
   .project-img {
      order: 1;
      width: 300px;
   }
   
   .project-img img {
      width: 100%;
   }
   
   .project-about {
      order: 2;
      width: 300px;
   }

   .project-mark {
      top: -208px;
      right: -31px;
   }
   
   .project-mark img{
      width: 42px;
   }
   
   .project-mark-duble {
      top: -207px;
      right: -30px;
   }
   
   .project-mark-duble img{
      width: 42px;
   }
   
   .project-about h2 {
      font-size: 28px;
   }
   
   .project-about p {
      font-size: 14px;
      margin: 0;
   }
   
   .button-project-section{
      gap: 10px;
   }
   
   .button-project a {
      width: 145px;
      height: 40px;
      gap: 5px;
      font-size: 13px;
      font-weight: 500;
      border-color: var(--button-M);
      background-color: var(--button-back);
      color: var(--button-M);
      transition: 0.07s;
   }
   
   .button-project p {
      margin-bottom: 0.3px;
   }
   
   .button-project-section {
      margin: 0 0 -5px 0;
   }
}